body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(220, 230, 197), rgb(32, 169, 32));
    min-height: 100vh; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
  }
  
  .container {
    width: 500px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
  }
  
  
  h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .lab{
    font-size: 25px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 12px;
    border: 2px solid #ced4da;
    border-radius: 8px;
    font-size: 23px;
    background-color: #f8f9fa;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #d29d2b;
    outline: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 800px) {
    img {
      display: none;
    }
  }
  